<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijob-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `hijob-element`
     * componente hijo b
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijobElement extends Polymer.Element {
      static get is() { return 'hijob-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijob-element'
          }
        };
      }
    }

    window.customElements.define(HijobElement.is, HijobElement);
  </script>
</dom-module>
