<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijob-element">
    <template>
    <style>
      :host {
        display: block;
      }
      th, td {
        border: 1px solid black;
        text-align: center;
        justify-content: center;
      }
    </style>
    <h2>[[prop1]]</h2>

    <table>
      <thead>
        <tr>
          <th colspan="1">Id</th>
          <th colspan="2">Nombres</th>
          <th colspan="2">Apellidos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="1">1</td>
          <td colspan="2">nombre1</td>
          <td colspan="2">nombre2</td>
        </tr>
        <tr>
           <td colspan="1">2</td>
           <td colspan="2">nombre1</td>
           <td colspan="2">nombre2</td>
        </tr>
        <tr>
           <td colspan="1">3</td>
           <td colspan="2">nombre1</td>
           <td colspan="2">nombre2</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <th colspan="3">ESTE ES UN FOOTER PARA LA TABLA</th>
          </td>
        </tr>
      </tfoot>
    </table>
  </template>

    <script>
        /**
         * `hijob-element`
         * componente hijo b
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class HijobElement extends Polymer.Element {
            static get is() {
                return 'hijob-element';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'Tabla'
                    }
                };
            }
        }

        window.customElements.define(HijobElement.is, HijobElement);
    </script>
</dom-module>